/* Main Body */
body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Nav Bar */
nav {
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 2px solid #222222;
}

nav > ul {
  margin-left: auto;
  margin-right: 16px;
}

nav > ul > li {
  display: inline-block;
}

header {
  text-align: center;
  color: white;
  background-color: #0d7c6d;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
}

#form-section {
  background-color: #0d7c6d;
  color: white;
  padding: 8px;
  margin-top: 16px;
}

#form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}